
.banner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0;
	width: 100%;
	padding: 0 20px;
}
.banner .head{
	font-size: 3em;
}
.downBtn{
	padding: 8px 20px;
	color: var(--col);
	fill: var(--col);
	font-size: 1.1em;
	background: #fff;
	border-radius: 99px;
	border: 1px solid var(--col);
	display: none;
}
.downBtn.active{
	display: block;
}

@media screen and (max-width: 500px){
	
.banner .head{
	font-size: 1.5em;
}
	.banner {
		padding: 10px;
	}
	
.downBtn{
	padding: 4px 15px;
	}
}