.win.active{
  display: block;
}
.banner.b2{
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-100%);
  background: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 100px #0000;
  z-index: 1;
  transition: all .25s;
}
.banner.b2.active{
  transform: translate(-50%,0%);
  box-shadow: 0 10px 100px #0009;
}
.banner.b2 .head{
  height: 200px;
}
.banner.b2 .head img{
  width: 300px;
}

.banner.b2 .downBtn{
  font-size: .9em;
  padding: 5px 10px 10px 5px;
  display: block;
  border: none;
}
.win .iframe iframe{
  border: none;
  width: 100%;
  height: 100vh;
}
#loader{
  position: fixed;
  background: #0008;
  max-width: 300px;
  padding: 10px;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  display: none;
  transform: translate(-50%,-50%);
  color: #fff;
  pointer-events: none;
}
#loader.active{
  display: block;
}